<div class="codigo-container">
  <!-- Input visible mientras no se haya validado -->
   <div style="display: flex; flex-direction: row;">
      <p class="LIT" [class.fade-out]="desvaneciendo" style="color: white; font-family: 'Press Start 2P'; font-size: xx-large;">LIT-</p>
     <input
        *ngIf="!codigoCorrecto"
        type="text"
        [(ngModel)]="codigoIngresado"
        (keyup.enter)="validarCodigo()"
        class="codigo-input"
        [class.fade-out]="desvaneciendo"
        [class.error]="errorActivo"
        placeholder="Ingrese código"
     />
     <img class="next-button" [class.fade-out]="desvaneciendo" src="assets/icons/noun-next-white.png" (click)="validarCodigo()">
   </div>
  <!-- Letra oculta que se revela -->
  <div class="letra-revelada" *ngIf="codigoCorrecto">
    {{ letra }}
  </div>
</div>