<p style="color: white; font-family: 'Press Start 2P'; line-height: 150%;">
    Soy un escapado de mi sociedad. Cometí un error por el cual no puedo ser perdonado.
    Un error que juega con las reglas del universo. Por eso, me estuve escondiendo.
    <br><br>
    Podría decirse que fue por amor, pero tambien fue por miedo.
    Miedo a que se nos fuera el tiempo, a que nunca sea suficiente. 
    Cuando fui descubierto, me declararon como un enemigo del universo. Por atentar contras las reglas naturales basicas.
    Tuve que esconderme, y desde entonces, vivo en las sombras, comunicandome a traves de mensajes codificados.
    <br><br>
    Con ella siempre tuve una conexion especial. Sabiamos que estabamos rompiendo las reglas, y nos preparamos para esto.
    Aprendimos a enviarnos mensajes codificados, pequeñas migajas que se encontraban a la vista de todos, que solo nosotros podiamos entender. 
    A ella le encantaban los crucigramas y sopa de letras. A veces publicaba en los diarios uno de estos juegos que tanto le gustaban, para enviarle un mensaje y, de paso, entretenerla con algo.
</p>

<div style="width: auto; display: flex; justify-content: center;">
    <a style="align-items: center;" href="https://drive.google.com/file/d/11TEKLlVU9lnPJXob06zDpvaUDIjgpWMr/view?usp=drive_link">
        <img src="assets/icons/noun-8-bit-folder.png" style="cursor: pointer; margin: auto; max-width: 6vw; max-height: 12vh;" alt="">
    </a>
</div>
<app-codigo-secreto [codigoValido]="'674-133-11JCS'" [letra]="'T'"></app-codigo-secreto>