<p style="color: white; font-family: 'Press Start 2P'; line-height: 150%;">
    CASO NRO. 1568785
    <br>
    FECHA: 27/08/2058
    <br>
    SUJETO: JULIAN BERAÚN CENTINEO
    <br>
    ORIGEN: LA PLATA, ARGENTINA
    <br>
    ESTADO: PRÓFUGO. 
    <br>
    COMPLICES: DESCONOCIDOS.
    <br>
    CAUSA: ATENTADO CONTRA LAS LEYES NATURALES UNIVERSALES
    <br>
    DETALLE: El sujeto se encuentra prófugo de la justicia por haber cometido un delito considerado imperdonable por la vida universal.
    <br>
    DELITOS: 
    <br>
    1. Creacion de dispositivo de manipulacion temporal, cuya estabilidad y seguridad no ha sido comprobada.
    <br>
    2. Manipulacion descontrolada del tiempo.
    <br>
    3. Atentado contra la vida universal.
    <br>
    <br>
    CONDENA: PENA DE MUERTE.<br>
    SE OFRECE RECOMPENSA POR SU CAPTURA O CUALQUIER INFORMACIÓN QUE LLEVE A SU PARADERO
</p>

<div style="width: auto; display: flex; justify-content: center;">
    <a style="align-items: center;" href="https://drive.google.com/file/d/1HTztp49yEFaGTphuG_NRjcBU6lJiXi-M/view?usp=drive_link">
        <img src="assets/icons/noun-8-bit-folder.png" style="cursor: pointer; margin: auto; max-width: 6vw; max-height: 12vh;" alt="">
    </a>
</div>
<app-codigo-secreto [codigoValido]="'118-397-90VPI'" [letra]="'E'"></app-codigo-secreto>