<p style="color: white; font-family: 'Press Start 2P'; line-height: 150%;">
    Sus ojos eran dos pedazos de cielo. Era facil perderme en ellos.
    <br><br>
    Me encantaba mirarlos de muy cerca. Parecia que en el fondo de ellos se encontraban las respuestas a todas mis preguntas. Hacia que todas mis dudas desaparecieran.
    <br><br>
    Sus mascotas hacian lo mismo. Solo con observarlas sabias en que estaban pensando. Y parecia que ellas te entendian.
    <br><br>
    No puedo decir lo mismo del resto de animales. En especial las palomas. Cuando el gobierno se entero de mi crimen, empezaron a establecer reglas estrictas de vigilancia y control para encontrarme y hacerme pagar. 
    Empleando cualquier medio necesario. 
    <br><br>
    Las palomas eran una de las herramientas que usaban para vigilar a la poblacion.
    <br><br>
    Lo que menos querías era estar a la vista de las palomas. Lo que más querías era escapar de los ojos de ellas.
</p>

<div style="width: auto; display: flex; justify-content: center;">
    <a style="align-items: center;" href="https://takeout-download-drive.usercontent.google.com/download/puzzle_2-20250917T030204Z-1-001.zip?j=a3dbcf54-9cf3-4fa7-9a52-4e163d5db330&i=0&user=520061064511&authuser=0">
        <img src="../../../../assets/icons/noun-8-bit-folder.png" style="cursor: pointer; margin: auto; max-width: 6vw; max-height: 12vh;" alt="">
    </a>
</div>
<app-codigo-secreto [codigoValido]="'021-029-32HPS'" [letra]="'I'"></app-codigo-secreto>