<p style="color: white; font-family: 'Press Start 2P'; line-height: 150%;">
    Cada vez era mas dificil la comunicacion. Ocurrian largos periodos en los que no sabia nada de ella. No sabia si estaba bien, si estaba a salvo.
    <br><br>
    A veces era al reves. En los que no podia enviarle ninguna señal de que yo seguia bien, que no se preocupara por mi.
    <br><br>
    Teniamos que refinar nuestras tecnicas de comunicacion. Teniamos que complejizar los mensajes, codificarlos mas, para que nadie los pueda ver, o siquiera entender.
    <br><br>
    En este punto me cuestionaba si valio la pena. Si todo el tiempo que evitamos perder valio la pena. Estuve años sin verla, escapando... Perdiendo lo que tanto evitamos perder: tiempo juntos.
    <br><br>
    Necesitaba dejar el dispositivo en algun lugar seguro, donde ella y solo ella pudiera encontrarlo. Un lugar hace mucho tiempo...
</p>

<div style="width: auto; display: flex; justify-content: center;">
    <a style="align-items: center;" href="https://drive.google.com/file/d/1yjF08j_lpexINXVJGZB1cNobbRrNq8Em/view?usp=drive_link">
        <img src="assets/icons/noun-8-bit-folder.png" style="cursor: pointer; margin: auto; max-width: 6vw; max-height: 12vh;" alt="">
    </a>
</div>
<app-codigo-secreto [codigoValido]="'191-221-09CUM'" [letra]="'M'"></app-codigo-secreto>