<div class="pantalla">
  <div class="menu-container">
    <div class="menu-item" *ngFor="let item of items; let i = index">
      <input type="text" class="menu-square" maxlength="1" [(ngModel)]="input[i]" (ngModelChange)="input[i] = input[i].toUpperCase()">
      <button class="icon-square" (click)="abrirModal(i)">
        <img class="icon" src="assets/icons/magnifier-white.png">
      </button>
    </div>
    <img class="next-button" src="assets/icons/noun-next-white.png" (click)="onCodeCompleted()">
  </div>

  <div *ngIf="errorCode" class="error-code"> CODIGO INCORRECTO </div>
  <div *ngIf="sucessCode" class="success-code"> CODIGO CORRECTO </div>

  <!-- Modal animado -->
  <div class="modal-overlay" *ngIf="modalAbierto !== null" (click)="cerrarModal()">
    <div 
      class="modal-content" 
      (click)="$event.stopPropagation()"
    >
      <ng-container [ngSwitch]="modalAbierto">
        <app-puzzle1 class="modal" *ngSwitchCase="0"></app-puzzle1>
        <app-puzzle2 class="modal" *ngSwitchCase="1"></app-puzzle2>
        <app-puzzle3 class="modal" *ngSwitchCase="2"></app-puzzle3>
        <app-puzzle4 class="modal" *ngSwitchCase="3"></app-puzzle4>
      </ng-container>
    </div>
  </div>

</div>